{% extends 'history.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="history">
                    <History></History>
                </div>
            </div>
            <div class="col-md-12">
                <div id="weather">
                    <Weather></Weather>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
